<br>

<div class="container">
<p-panel header="Settings">
        <div class="ui-g">
                <label for="notify" class="ui-g-6 ">Param 1 :</label>
                <input id="notify" class="ui-g-6 " placeholder="Enter an Email Address" type="email" />
        </div>
        <div class="ui-g">
                <label for="notify" class="ui-g-6 ">Param 2 :</label>
                <input id="notify" class="ui-g-6 " placeholder="Enter an Email Address" type="email" />
        </div>
        <p-button label="Enregistrer" class="ui-button-rounded"></p-button>     
</p-panel>
</div>


